<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Genereación de Identificadores y horas</title>
</head>
<body>
	<div>
		<table>
			<tr>
				<td>
					Identificador: <textarea rows="1" cols="1" th:field="${hora.id}"></textarea>
				</td>
				<td>
					Hora: <textarea rows="1" cols="1" th:field="${hora.hora}"></textarea>
				</td>
			</tr>
			<tr>
				<input type="button" value="Guardar"/>
			</tr>
		</table>
	</div>
</body>
</html>