<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Genereación de Identificadores y horas</title>
</head>
<body>
	<div>
		<form action="/CrearHora/guardar" method="get">
			<table>
				<tr>
					<td>
						Identificador - AJ: <input type="text" name="id" th:value="${hora.id}"></input>
					</td>
					<td>
						Hora: <textarea name="horaDia" rows="1" cols="1" th:field="${hora.hora}"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<button type="submit" value="Guardar"></button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>